{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "f54359db0144329f06c14c08ff10ae4d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://app.eu.orcasecurity.io/api/user/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 753,
            "text": "{\"status\":\"success\",\"role\":\"standard_user\",\"permissions\":null,\"need_to_sign\":false,\"jwt\":{\"refresh\":\"[REDACTED]\",\"access\":\"[REDACTED]\"},\"license_status\":2,\"license_hash\":\"1540549e5f3288e2de40f5c0705c2e80bf575a84af0b158bf56b587bde88638e941cc306356a3cb01bfce194c6cbc6bf4b8d9f2cfc22835f037622612e4381b3\",\"org_license_status\":2,\"org_license_current_hash\":\"1540549e5f3288e2de40f5c0705c2e80bf575a84af0b158bf56b587bde88638e941cc306356a3cb01bfce194c6cbc6bf4b8d9f2cfc22835f037622612e4381b3\"}"
          },
            {
              "expires": "2022-06-04T14:32:50.000Z",
              "httpOnly": true,
              "maxAge": 86400,
              "name": "sessionid",
              "path": "/",
              "sameSite": "Lax",
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, DELETE, HEAD, OPTIONS"
            },
            {
              "name": "x-orca-request-id",
              "value": "44b2369d-3f8e-4b24-955f-9f4e3eacf8e4"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 358,
      },
      {
        "_id": "5e065954e5093fa42fcfe9ea42416532",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.eu.orcasecurity.io/api/organization/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1248,
            "text": "{\"status\":\"success\",\"data\":{\"name\":\"Partners\",\"users\":[{\"user_id\":\"17f081c9-5665-4668-b10e-3c91b3409761\",\"email\":\"avidor@axonius.com\",\"first\":\"Avidor\",\"last\":\"Bartov\"},{\"user_id\":\"5427b0b3-4d99-47cb-bf63-fee5adff787c\",\"email\":\"teemu.hirvonen@contractor.jupiterone.com\",\"first\":\"Teemu\",\"last\":\"Hirvonen\"},{\"user_id\":\"b10d3974-4ddc-45a4-9d46-a7475d4d50b0\",\"email\":\"tomery@bionic.ai\",\"first\":\"Tomer\",\"last\":\"Yanovich\"},{\"user_id\":\"c113b4b4-4f76-4882-a449-5d2728044f00\",\"email\":\"roip@bionic.ai\",\"first\":\"Roi\",\"last\":\"Paz\"},{\"user_id\":\"b26deb2d-9d1e-4afc-990f-ef2f639ba056\",\"email\":\"rois@google.com\",\"fir[...]
