{
  "log": {
    "_recordingName": "build-user-group-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "6e04573a98b3dbea7256ca2ac89e1474",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.orcasecurity.io/api/rbac/group"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 356,
            "text": "{\"version\":\"0.1.0\",\"status\":\"success\",\"data\":{\"groups\":[{\"id\":\"e62ffa40-ea37-413d-ab9f-fa6b794b3b51\",\"name\":\"OpsSec\",\"description\":null,\"sso_group\":false},{\"id\":\"d2c3eea9-fc83-4fef-977a-272735b252c9\",\"name\":\"Orca-Admin\",\"description\":null,\"sso_group\":true},{\"id\":\"bba925cc-ba9b-4e95-8d45-b6efa1d8071d\",\"name\":\"Orca-Viewer\",\"description\":null,\"sso_group\":true},{\"id\":\"345dad41-9766-4d73-affd-8d73de4b6e2c\",\"name\":\"Orca-Editor\",\"description\":null,\"sso_group\":true},{\"id\":\"96586599-86f9-423c-9dee-98fec0fa1f37\",\"name\":\"NotEmpty\",\"description\":null,\"sso_group\":false},{\"id\":\"fd7f77a4-e353-40f3-b0fc-024bd9c9b21d\",\"name\":\"Temp\",\"description\":null,\"sso_group\":false},{\"id\":\"aeccead3-c67e-4a4a-a95c-17ae4f7cdb3a\",\"name\":\"TestRoni\",\"description\":null,\"sso_group\":false}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            },
            {
              "name": "x-orca-request-id",
              "value": "a9b598f3-3b35-4c53-a7a2-77cc78474dc3"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 325,
      },
      {
        "_id": "27ebcaa529d85e3b1e7246118597b550",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.orcasecurity.io/api/rbac/group/e62ffa40-ea37-413d-ab9f-fa6b794b3b51"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 192,
            "text": "{\"version\":\"0.1.0\",\"status\":\"success\",\"data\":{\"group\":\"OpsSec\",\"description\":null,\"all_users\":false,\"users\":[{\"id\":\"52d662c0-937a-4d79-9ada-6f7c9d267d2d\",\"email\":\"alon+test2@orca.security\",\"first_name\":\"Alon\",\"last_name\":\"Lavian\"}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, PUT, DELETE, HEAD, OPTIONS"
            },
            {
              "name": "x-orca-request-id",
              "value": "b16cf73e-7297-47da-aee8-3d68f7ab21da"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "ti[...]
