{
  "log": {
    "_recordingName": "build-user-group-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "60949b75b7edca4147beec378bd95467",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.eu.orcasecurity.io/api/rbac/group"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 153,
            "text": "{\"version\":\"0.1.0\",\"status\":\"success\",\"data\":{\"groups\":[{\"id\":\"b3835712-ff38-4214-91f6-5a740a157e08\",\"name\":\"Test\",\"description\":\"\",\"sso_group\":false}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            },
            {
              "name": "x-orca-request-id",
              "value": "31512b8d-b82d-4f55-857b-ea944d28bf0c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 102,
      },
      {
        "_id": "6de5f6362cedc8ab78fe74a1bc37e0d5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.eu.orcasecurity.io/api/rbac/group/b3835712-ff38-4214-91f6-5a740a157e08"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 197,
            "text": "{\"version\":\"0.1.0\",\"status\":\"success\",\"data\":{\"group\":\"Test\",\"description\":\"\",\"all_users\":false,\"users\":[{\"id\":\"5427b0b3-4d99-47cb-bf63-fee5adff787c\",\"email\":\"teemuhirvonen@contractor.jupiterone.com\",\"first_name\":\"Teemu\",\"last_name\":\"Hirvonen\"}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, PUT, DELETE, HEAD, OPTIONS"
            },
            {
              "name": "x-orca-request-id",
              "value": "08d010d0-fda9-48c2-b06a-82cc59fedab5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 103,
      },
      {
        "_id": "5e065954e5093fa42fcfe9ea42416532",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.eu.orcasecurity.io/api/organization/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1248,
            "text": "{\"status\":\"success\",\"data\":{\"name\":\"Partners\",\"users\":[{\"user_id\":\"17f081c9-5665-4668-b10e-3c91b3409761\",\"email\":\"avidor@axonius.com\",\"first\":\"Avidor\",\"last\":\"Bartov\"},{\"user_id\":\"5427b0b3-4d99-47cb-bf63-fee5adff787c\",\"email\":\"teemu.hirvonen@contractor.jupiterone.com\",\"first\":\"Teemu\",\"last\":\"Hirvonen\"},{\"user_id\":\"b10d3974-4ddc-45a4-9d46-a7475d4d50b0\",\"email\":\"tomery@bionic.ai\",\"first\":\"Tomer\",\"last\":\"Yanovich\"},{\"user_id\":\"c113b4b4-4f76-4882-a449-5d2728044f00\",\"email\":\"roip@bionic.ai\",\"first\":\"Roi\",\"last\":\"Paz\"},{\"user_id\":\"b26deb2d-9d1e-4afc-990f-ef2f639ba056\",\"email\":\"rois@google.com\",\"fir[...]
