{
  "log": {
    "_recordingName": "fetch-assets",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f54359db0144329f06c14c08ff10ae4d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://app.eu.orcasecurity.io/api/user/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 755,
            "text": "{\"status\":\"success\",\"role\":\"standard_user\",\"permissions\":null,\"need_to_sign\":false,\"jwt\":{\"refresh\":\"[REDACTED]\",\"access\":\"[REDACTED]\"},\"license_status\":2,\"license_hash\":\"1540549e5f3288e2de40f5c0705c2e80bf575a84af0b158bf56b587bde88638e941cc306356a3cb01bfce194c6cbc6bf4b8d9f2cfc22835f037622612e4381b3\",\"org_license_status\":2,\"org_license_current_hash\":\"1540549e5f3288e2de40f5c0705c2e80bf575a84af0b158bf56b587bde88638e941cc306356a3cb01bfce194c6cbc6bf4b8d9f2cfc22835f037622612e4381b3\"}"
          },
            {
              "expires": "2022-06-18T17:40:43.000Z",
              "httpOnly": true,
              "maxAge": 86400,
              "name": "sessionid",
              "path": "/",
              "sameSite": "Lax",
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, DELETE, HEAD, OPTIONS"
            },
            {
              "name": "x-orca-request-id",
              "value": "26caad99-dad7-49e4-b03b-ae4f40ff4399"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 915,
      },
      {
        "_id": "5f5b989a09418e97a8e4e55b09d25b62",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://app.eu.orcasecurity.io/api/query/assets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 43967,
            "text": "{\"version\":\"0.1.0\",\"status\":\"success\",\"total_items\":125,\"total_ungrouped_items\":6996,\"data_grouped\":true,\"total_supported_items\":10000,\"next_page_token\":[\"REDACTED\"],\"data\":[{\"asset_unique_id\":\"vm_570398916848_i-080f6dfdeac0c7ffc\",\"asset_name\":\"i-080f6dfdeac0c7ffc\"},{\"asset_unique_id\":\"vm_anecdotes-dev_4169194639805875487\",\"asset_name\":\"gitlab\"},{\"asset_unique_id\":\"GcpIamServiceAccount_anecdotes-dev_e739eb76-5410-ffc5-7cb9-c3fc431644e3\",\"asset_name\":\"584137475007-compute@developer.gserviceaccount.com\"},{\"asset_unique_id\":\"AwsUser_570398916848_e739eb76-dbc2-7eed-d7be-038f8fccc64b\",\"asset_name\":\"<root_account>\"},{\"asset_unique_id\":\"AwsEc2Elb_570398916848_e739eb76-6a9b-b748-f31f-de38b37bba62\",\"asset_name\":\"a51a26a188ddb415d87d7f96b3c4a128\"},{\"asset_unique_id\":\"AwsIamRole_570398916848_e739eb76-13c4-6c78-d07d-9f539fca11bf\",\"asset_name\":\"AddKmsGrantRole\"},{\"asset_unique_id\":\"vm_anecdotes-dev_8107406422590190763\",\"asset_name\":\"agentnewedition\"},{\"asset_unique_id\":\"GcpIamServiceAccount_anecdotes-dev_e739eb76-cc0d-3694-4ea7-b4edae1694bb\",\"asset_name\":\"agents-service@anecdotes[...]
