{
  "log": {
    "_recordingName": "build-user-role-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "2952034ba70eea17e58196a3bcdeb6f9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.orcasecurity.io/api/organization/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1723,
            "text": "{\"status\":\"success\",\"data\":{\"name\":\"Alonest\",\"users\":[{\"user_id\":\"d8c8ba01-2f7d-49c5-a000-3e4d55a36435\",\"email\":\"sumologic-internal-user-e852ad25faed@orca.security\",\"first\":\"sumologic\",\"last\":\"sumologic\"},{\"user_id\":\"32963ec9-7870-4b93-a210-6cbf152ec749\",\"email\":\"ssotest@Alonest.com\",\"first\":\"sso\",\"last\":\"test\"},{\"user_id\":\"06010e2d-5aa4-40ab-b569-30014db287bc\",\"email\":\"slack-internal-user-e852ad25faed@orca.security\",\"first\":\"slack\",\"last\":\"slack\"},{\"user_id\":\"95ae962e-4268-41f2-b9c6-33a387e957e4\",\"email\":\"demisto-internal-user-e852ad25faed@orca.security\",\"first\":\"demisto\",\"last\":\"demisto\"},{\"user_id\":\"2782bfd1-3d79-44a5-8f22-31690[...]
