{
  "log": {
    "_recordingName": "build-user-role-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "5e065954e5093fa42fcfe9ea42416532",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.eu.orcasecurity.io/api/organization/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1248,
            "text": "{\"status\":\"success\",\"data\":{\"name\":\"Partners\",\"users\":[{\"user_id\":\"17f081c9-5665-4668-b10e-3c91b3409761\",\"email\":\"avidor@axonius.com\",\"first\":\"Avidor\",\"last\":\"Bartov\"},{\"user_id\":\"5427b0b3-4d99-47cb-bf63-fee5adff787c\",\"email\":\"teemu.hirvonen@contractor.jupiterone.com\",\"first\":\"Teemu\",\"last\":\"Hirvonen\"},{\"user_id\":\"b10d3974-4ddc-45a4-9d46-a7475d4d50b0\",\"email\":\"tomery@bionic.ai\",\"first\":\"Tomer\",\"last\":\"Yanovich\"},{\"user_id\":\"c113b4b4-4f76-4882-a449-5d2728044f00\",\"email\":\"roip@bionic.ai\",\"first\":\"Roi\",\"last\":\"Paz\"},{\"user_id\":\"b26deb2d-9d1e-4afc-990f-ef2f639ba056\",\"email\":\"rois@google.com\",\"fir[...]
