{
  "log": {
    "_recordingName": "fetch-groups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "60949b75b7edca4147beec378bd95467",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.eu.orcasecurity.io/api/rbac/group"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 153,
            "text": "{\"version\":\"0.1.0\",\"status\":\"success\",\"data\":{\"groups\":[{\"id\":\"b3835712-ff38-4214-91f6-5a740a157e08\",\"name\":\"Test\",\"description\":\"\",\"sso_group\":false}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, HEAD, OPTIONS"
            },
            {
              "name": "x-orca-request-id",
              "value": "bebfc82f-4a3b-4d6b-9369-0abeca1c9a25"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 96,
      },
      {
        "_id": "6de5f6362cedc8ab78fe74a1bc37e0d5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.eu.orcasecurity.io/api/rbac/group/b3835712-ff38-4214-91f6-5a740a157e08"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 197,
            "text": "{\"version\":\"0.1.0\",\"status\":\"success\",\"data\":{\"group\":\"Test\",\"description\":\"\",\"all_users\":false,\"users\":[{\"id\":\"5427b0b3-4d99-47cb-bf63-fee5adff787c\",\"email\":\"teemuhirvonen@contractor.jupiterone.com\",\"first_name\":\"Teemu\",\"last_name\":\"Hirvonen\"}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, PUT, DELETE, HEAD, OPTIONS"
            },
            {
              "name": "x-orca-request-id",
              "value": "e2b2bdce-046f-42c5-ab79-52a9524802fe"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 99,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
